<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Nutrition Label Template</title>
  <link rel="stylesheet" href="style.css">
</head>

<body class="bg-stone-300 p-5">
  <div id="label" class="bg-white p-5 text-xl shadow-xl w-full">
    <h1 class="text-1xl font-bold uppercase tracking-wider m-2 p-6 pt-3 pb-0">Produkttitel 2024</h1>

    <h4 class="m-2 p-6 pb-0 text-sm font-medium tracking-widest uppercase">Inhaltsstoffe:</h4>
    <div id="elabel-ingredientslist" class="m-2 p-6 pt-0 pb-5">
      <p class="text-lg">
        Trauben, Konvervierungsmittel: <strong>Sulfite</strong>
      </p>
    </div>
    <div id="nutrtiontable" class="border-1 outline-double m-2 p-1">
      <table class="border-2 p-0 border-black text-base w-full">
        <tr class="text-base bg-black font-bold text-white">
          <td class="p-5">Nährwertangaben</td>
          <td class="p-5 text-right">Pro 100ml</td>
        </tr>
        <tr class="border-1">
          <td class="p-5 align-top">
            Energie
          </td>
          <td class="p-5 text-right">123 kj<br>123 kcal</td>
        </tr>
        <tr class="border-1">
          <td class="p-5">
            Kohlenhydrate
          </td>
          <td class="p-5 text-right">
            1g
          </td>
        </tr>
        <tr>
          <td class="p-5">Davon Zucker</td>
          <td class="p-5 text-right">0.1g</td>
        </tr>
      </table>
      <div id="negligible" class="text-sm p-4 tracking-widest uppercase text-center">
        <p>Kann geringfügige Mengen von Eiweiß und Salz enthalten.</p>
      </div>
    </div>
  </div>
  <p class="text-sm p-4 color-stone text-center">
    Nutrition Labels for Wordpress/Woocommerce<br>
    by Markus Hammer
  </p>
</body>

</html>
